body {
  background-color: #98acf8;
}

h1 {
  width: 80%;
  margin: auto;
  padding: 50px 0;
  color: #153e90;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

table {
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}

table tr {
  padding: 2%;
}

table td {
  padding: 10px 0;
}

.form-div {
  width: 35%;
  margin: 10% auto;
  background-color: #bedcfa;
  border-radius: 50px;
}

label {
  color: #0a043c;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

input,
textarea {
  width: 80%;
  border: none;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  border-radius: 30px;
  padding: 15px 15px;
}

input:focus,
textarea:focus {
  border: none;
  outline: none;
}

#error {
  color: red;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.btn {
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 30px;
  color: #5f6368;
  cursor: pointer;
  line-height: 27px;
  font-size: 20px;
  padding: 16 16px;
  width: 80%;
}

.btn:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}

.btn:focus {
  border: 1px solid #4d90fe;
  outline: none;
}
